$nav-segmented-bg: var(--#{$prefix}bg-surface-tertiary) !default;
$nav-segmented-padding: 1px !default;
$nav-segmented-gap: var(--#{$prefix}nav-segmented-padding) !default;
$nav-segmented-active-bg: var(--#{$prefix}bg-surface) !default;
$nav-segmented-font-size: $input-btn-font-size !default;
$nav-segmented-font-weight: $btn-font-weight !default;

$nav-segmented-line-height: $input-btn-line-height !default;
$nav-segmented-radius: var(--#{$prefix}border-radius) !default;
$nav-segmented-border-width: 1px !default;
$nav-segmented-border-color: var(--#{$prefix}border-light-color-translucent) !default;

$nav-segmented-link-disabled-color: var(--#{$prefix}disabled-color) !default;
$nav-segmented-link-gap: 0.25rem !default;
$nav-segmented-link-padding-x: $input-btn-padding-x !default;
$nav-segmented-link-padding-y: $input-btn-padding-y !default;
$nav-segmented-link-icon-size: $input-btn-icon-size !default;
$nav-segmented-link-border-width: $input-btn-border-width !default;

.nav-segmented {
  --#{$prefix}nav-segmented-bg: #{$nav-segmented-bg};
  --#{$prefix}nav-segmented-padding: #{$nav-segmented-padding};
  --#{$prefix}nav-segmented-gap: #{$nav-segmented-gap};
  --#{$prefix}nav-segmented-active-bg: #{$nav-segmented-active-bg};
  --#{$prefix}nav-segmented-font-size: #{$nav-segmented-font-size};
  --#{$prefix}nav-segmented-line-height: #{$nav-segmented-line-height};
  --#{$prefix}nav-segmented-radius: #{$nav-segmented-radius};
  --#{$prefix}nav-segmented-border-width: #{$nav-segmented-border-width};
  --#{$prefix}nav-segmented-border-color: #{$nav-segmented-border-color};
  
  --#{$prefix}nav-segmented-link-disabled-color: #{$nav-segmented-link-disabled-color};
  --#{$prefix}nav-segmented-link-gap: #{$nav-segmented-link-gap};
  --#{$prefix}nav-segmented-link-padding-x: #{$nav-segmented-link-padding-x};
  --#{$prefix}nav-segmented-link-padding-y: #{$nav-segmented-link-padding-y};
  --#{$prefix}nav-segmented-link-icon-size: #{$nav-segmented-link-icon-size};
  --#{$prefix}nav-segmented-link-border-width: #{$nav-segmented-link-border-width};
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--#{$prefix}nav-segmented-gap);
  padding: var(--#{$prefix}nav-segmented-padding);
  list-style: none;
  background: var(--#{$prefix}nav-segmented-bg);
  border-radius: calc(var(--#{$prefix}nav-segmented-radius) + var(--#{$prefix}nav-segmented-padding));
  border: var(--#{$prefix}nav-segmented-border-width) solid var(--#{$prefix}nav-segmented-border-color);

  .nav-link {
    --nav-segmented-link-height: calc(var(--#{$prefix}nav-segmented-line-height) + 2 * var(--#{$prefix}nav-segmented-link-padding-y) + 2 * var(--#{$prefix}nav-segmented-link-border-width) - 2 * var(--#{$prefix}nav-segmented-border-width) - 2 * var(--#{$prefix}nav-segmented-padding));
    display: inline-flex;
    gap: calc(0.25rem + var(--#{$prefix}nav-segmented-link-gap));
    align-items: center;
    margin: 0;
    font-size: var(--#{$prefix}nav-segmented-font-size);
    line-height: var(--#{$prefix}nav-segmented-line-height);
    font-weight: #{$nav-segmented-font-weight};
    min-width: var(--nav-segmented-link-height);
    height: var(--nav-segmented-link-height);
    padding: calc(var(--#{$prefix}nav-segmented-link-padding-y) - var(--#{$prefix}nav-segmented-border-width)) calc(var(--#{$prefix}nav-segmented-link-padding-x) - 2 * var(--#{$prefix}nav-segmented-border-width));
    border: var(--#{$prefix}nav-segmented-link-border-width) solid transparent;
    background: transparent;
    color: var(--#{$prefix}secondary);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition:
      background-color $transition-time,
      color $transition-time;
    border-radius: var(--#{$prefix}nav-segmented-radius);
    flex-grow: 1;
    justify-content: center;

    &:hover,
    &.hover {
      background: rgba(0, 0, 0, 0.04);
      color: var(--#{$prefix}body-color);
    }

    &.disabled,
    &:disabled {
      color: var(--#{$prefix}nav-segmented-link-disabled-color);
      cursor: not-allowed;
    }
  }

  .nav-link-input:checked+.nav-link,
  .nav-link.active {
    color: var(--#{$prefix}body-color);
    background: var(--#{$prefix}nav-segmented-active-bg);
    border-color: var(--#{$prefix}border-color);
  }

  .nav-link-input {
    display: none;
  }

  .nav-link-icon {
    width: var(--#{$prefix}nav-segmented-link-icon-size);
    height: var(--#{$prefix}nav-segmented-link-icon-size);
    margin: 0 -0.25rem;
    color: inherit;
  }
}

.nav-segmented-vertical {
  flex-direction: column;

  .nav-link {
    justify-content: start;
  }
}

.nav-sm {
  --#{$prefix}nav-segmented-font-size: #{$input-btn-font-size-sm};
  --#{$prefix}nav-segmented-line-height: #{$input-btn-line-height-sm};
  --#{$prefix}nav-segmented-radius: var(--#{$prefix}border-radius);
  --#{$prefix}nav-segmented-link-padding-x: #{$input-btn-padding-x-sm};
  --#{$prefix}nav-segmented-link-padding-y: #{$input-btn-padding-y-sm};
  --#{$prefix}nav-segmented-link-gap: #{$nav-segmented-link-gap};
  --#{$prefix}nav-segmented-link-icon-size: #{$input-btn-icon-size-sm};
}

.nav-lg {
  --#{$prefix}nav-segmented-font-size: #{$input-btn-font-size-lg};
  --#{$prefix}nav-segmented-line-height: #{$input-btn-line-height-lg};
  --#{$prefix}nav-segmented-radius: var(--#{$prefix}border-radius);
  --#{$prefix}nav-segmented-link-padding-x: #{$input-btn-padding-x-lg};
  --#{$prefix}nav-segmented-link-padding-y: #{$input-btn-padding-y-lg};
  --#{$prefix}nav-segmented-link-gap: #{$nav-segmented-link-gap};
  --#{$prefix}nav-segmented-link-icon-size: #{$input-btn-icon-size-lg};
}
